node_modules/
backend/node_modules/

.expo/
.vyoma-localappdata/
.vyoma-temp/
logs/

expo-log-out.txt
expo-log-err.txt

android/.gradle/
android/build/
android/app/build/
backend/dist/

.env
.env.*
backend/.env

credentials.json
android/local.properties
android/keystore.jks
